.container {
  padding: 0;
}

.menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}

.menuVertical {
  flex-direction: column;
}

.menuHorizontal {
  flex-direction: row;
}

.menuItem {
  display: block;
  flex-basis: auto;
}
